main {
  overflow: hidden;
}
h4 {
  position: absolute;
  left: 7%;
  top: 0;
  font-weight: normal;
  font-size: 44px;
}
img {
  width: 100%;
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}